@using AIM.Controllers
@using AIM.Plugins
@model IEnumerable<PluginDescription>

@{
    ViewData["Title"] = "Plugin Listing";
}

<h2>Plugin List</h2>

<table class="ui compact celled definition table">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Description</th>
        <th class="center aligned">P</th>
        <th class="center aligned">A</th>
        <th class="center aligned">V</th>
        <th>Author</th>
        <th>Version</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var plugin in Model)
    {
        <tr>
            <td class="collapsing">
                <div class="ui fitted slider checkbox">
                    <input type="checkbox"> <label></label>
                </div>
            </td>
            <td>
                @plugin.Name
            </td>
            <td>
                @plugin.Description
            </td>
            <td class="center aligned">
                @if (plugin.Type == PluginDescription.PluginType.Parser)
                {
                    <i class="large green checkmark icon"></i>
                }
            </td>
            <td class="center aligned">
                @if (plugin.Type == PluginDescription.PluginType.Analyzer)
                {
                    <i class="large green checkmark icon"></i>
                }
            </td>
            <td class="center aligned">
                @if (plugin.Type == PluginDescription.PluginType.Visualizer)
                {
                    <i class="large green checkmark icon"></i>
                }
            </td>
            <td>
                @plugin.Author
            </td>
            <td>
                @plugin.Version
            </td>
        </tr>
    }
    </tbody>

</table>