@{
    ViewData["Title"] = "Error";
}

<h1 class="ui header">Error</h1>

@if (ViewBag.error != null && ViewBag.error != string.Empty)
{
    <h2 class="ui header">@ViewBag.error</h2>
}
else {
    <h2 class="ui header">An error occurred while processing your request.</h2>
}
