    <div class="ui text container">
        <h1 class="ui inverted header">
            @ViewData["Message"]
        </h1>
        <address>
            Princetonplein 5<br/>
            Utrecht, 3584DZ<br/>
            Netherlands
        </address>
    </div>
