@{
    ViewData["Title"] = "Contact";
}
<div class="ui container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>
    <address>
        Princetonplein 5<br/>
        Utrecht, 3584DZ<br/>
        <abbr title="Phone">P:</abbr>
        06 459 33 122
    </address>
</div>
