@{
    ViewData["Title"] = "Home Page";
}


<div class="ui blue inverted vertical masthead center aligned segment">

    <div class="ui text container">

        <h1 class="ui inverted header">
            Process mining + Stunning Visuals
        </h1>
        <h2>Log data and source code like you have never see before.</h2>
        <a class="ui huge secondary button" href="~/Plugins/Parser">
            Get Started <i class="right arrow icon"></i>
        </a>
    </div>

</div>
<div class="ui grid">
    <div class="eight wide column">
        <div class="ui segment">
            <h1 class="ui black ribbon label">How To</h1>
            <ol class="ui list">
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398600">Get started</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699314">Write a Plugin</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699315">Use your own Plugin</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699316">Check the log files</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699317">Get Stunning Visuals</a></li>
            </ol>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui segment">
            <h1 class="ui black ribbon label">Plugins</h1>
            <ol class="ui list">
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=518008">Parsers</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=699320">Analysers</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398602">Visualisers</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkId=398603">Intermediate .rmr file format</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699321">Writing a Plugin</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=699322">Logging conventions</a></li>
            </ol>
        </div>
    </div>

</div>
<div class="ui grid">

    <div class="eight wide column">
        <div class="ui segment">
            <h1 class="ui black ribbon label">Run & Deploy</h1>
            <ol class="ui list">
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Deploy your own instance</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517852">Conventions</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Deploy Custom Plugins</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Share Plugins</a></li>
            </ol>
        </div>
    </div>
    <div class="eight wide column">
        <div class="ui segment">
            <h1 class="ui black ribbon label">Visuals</h1>
            <ol class="ui list">
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Basics</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517852">Advanced</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Extreme</a></li>
                <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">Showcase your own</a></li>
            </ol>
        </div>
    </div>
</div>
