@{
    ViewData["Title"] = "Home Page";
}

<div class="ui text container">
    <h1 class="ui inverted header">
        Process mining + Stunning Visuals
    </h1>
    <h2>Log data and source code like you have never see before.</h2>
    <a class="ui huge primary button" href="~/Plugins/Parser">
        Get Started <i class="right arrow icon"></i>
    </a>
</div>

